<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <div class="main-container">
        <!-- Main content -->
        <div class="container">  
            
            <div class="form-group">
                <label for="stream_name">Stream Name:</label>
                <input type="text" id="stream_name" placeholder="Enter stream name" required>
            </div>
            <div class="form-group">
                <label for="url">URL:</label>
                <input type="url" id="url" placeholder="Enter URL" required>
            </div>
            <div class="form-group">
                <label for="device_id">Device ID:</label>
                <input type="text" id="device_id" placeholder="Enter device ID" required>
            </div>
            <div class="form-group">
                <label for="devicecode">Device Code:</label>
                <input type="text" id="devicecode" placeholder="Enter device code" required>
            </div>
            <div class="form-group">
                <label for="album_code">Album Code:</label>
                <input type="text" id="album_code" placeholder="Enter album code" required>
            </div>
            <div class="form-group">
                <label for="latitude">Latitude:</label>
                <input type="number" id="latitude" placeholder="Enter latitude" required>
            </div>
            <div class="form-group">
                <label for="longitude">Longitude:</label>
                <input type="number" id="longitude" placeholder="Enter longitude" required>
            </div>
            <div class="form-group">
                <label for="altitude">Altitude:</label>
                <input type="number" id="altitude" placeholder="Enter altitude"  required>
            </div>
            <div class="form-group">
                <label for="imageowner">Image Owner:</label>
                <input type="text" id="imageowner" placeholder="Enter image owner" required>
            </div>
            <div class="form-group">
                <label for="firstAngle">First Angle:</label>
                <input type="number" id="firstAngle" placeholder="Enter first angle" required>
            </div>
            <div class="form-group">
                <label for="lastAngle">Last Angle:</label>
                <input type="number" id="lastAngle" placeholder="Enter last angle" required>
            </div>
            <div class="button-group">
                <button id="start-btn" class="start_button">Start</button>
            </div>
            <div id="response-message" class="message" style="display: flex;margin-left: 15px;"></div>   
        </div>

        <!-- URLs List -->
        <div class="urls-container">
            <h2>Current URLs</h2>
            <ul id="urls" class="list-group">
                <!-- URLs will be dynamically populated here -->
            </ul>
        </div>
    </div>
    <div class="bottom-container"> 
            <label for="stream_name">Stream Name:</label> 
            <input type="text" id="stream_name_remove" placeholder="Enter stream name" required>
        <button id="remove-url-btn" class="remove_button">Remove URL</button>
    </div>
    <!-- Updated path to script.js -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>